*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Container1{
   padding-top: 100px;
    
}

.child1{
  
    background-color: yellowgreen;
    height: 225px;
    width: 225px;
   border-radius: 50%;
  
 
}
.navbar{
    z-index: 1000;
}


#name,#mess{
   width: 100%;
   padding: 10px;
    box-sizing: border-box;
    outline: none;
    resize: none;
    border: none;
    border-bottom: 1px solid #D3D3D3;
  }

  